{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/repos/zvadaadam/WTF_REPO/pulls?state=open"}, "response": {"body": {"encoding": "utf-8", "string": "{\"message\":\"Not Found\",\"documentation_url\":\"https://developer.github.com/v3/pulls/#list-pull-requests\"}"}, "headers": {"Content-Type": ["application/json; charset=utf-8"], "Status": ["404 Not Found"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4954"], "X-RateLimit-Reset": ["1543515018"], "X-OAuth-Scopes": ["delete_repo, repo"], "X-Accepted-OAuth-Scopes": ["repo"], "X-GitHub-Media-Type": ["github.v3; format=json"]}, "status": {"code": 404, "message": "Not Found"}, "url": "https://api.github.com/repos/zvadaadam/WTF_REPO/pulls?state=open"}, "recorded_at": "2018-11-29T17:30:54"}, {"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/repos/zvadaadam/WTF_REPO_42_FOO/pulls?state=open"}, "response": {"body": {"encoding": "utf-8", "string": "{\"message\":\"Not Found\",\"documentation_url\":\"https://developer.github.com/v3/pulls/#list-pull-requests\"}"}, "headers": {"Content-Type": ["application/json; charset=utf-8"], "Status": ["404 Not Found"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4963"], "X-RateLimit-Reset": ["1543860540"], "X-OAuth-Scopes": ["delete_repo, repo"], "X-Accepted-OAuth-Scopes": ["repo"], "X-GitHub-Media-Type": ["github.v3; format=json"]}, "status": {"code": 404, "message": "Not Found"}, "url": "https://api.github.com/repos/zvadaadam/WTF_REPO_42_FOO/pulls?state=open"}, "recorded_at": "2018-12-03T17:12:34"}], "recorded_with": "betamax/0.8.1"}