{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/repos/zvadaadam/filabel-testrepo4/pulls/2/files"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"sha\":\"e69de29bb2d1d6434b8b29ae775ad8c2e48c5391\",\"filename\":\"aaaa\",\"status\":\"added\",\"additions\":0,\"deletions\":0,\"changes\":0,\"blob_url\":\"https://github.com/zvadaadam/filabel-testrepo4/blob/763d97ccc1b9ef39f04c9051fcf45d637c79b908/aaaa\",\"raw_url\":\"https://github.com/zvadaadam/filabel-testrepo4/raw/763d97ccc1b9ef39f04c9051fcf45d637c79b908/aaaa\",\"contents_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/contents/aaaa?ref=763d97ccc1b9ef39f04c9051fcf45d637c79b908\"}]"}, "headers": {"Content-Type": ["application/json; charset=utf-8"], "Status": ["200 OK"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4903"], "X-RateLimit-Reset": ["1543417273"], "ETag": ["\"ade533fb8180d41597a721c2daf54c4c\""], "Last-Modified": ["Wed, 28 Nov 2018 14:33:00 GMT"], "X-OAuth-Scopes": ["delete_repo, repo"], "X-Accepted-OAuth-Scopes": [""], "X-GitHub-Media-Type": ["github.v3; format=json"]}, "status": {"code": 200, "message": "OK"}, "url": "https://api.github.com/repos/zvadaadam/filabel-testrepo4/pulls/2/files"}, "recorded_at": "2018-11-28T14:33:22"}, {"request": {"body": {"encoding": "utf-8", "string": "{\"labels\": [\"CRAZY\", \"MI-PYT\", \"abc\", \"ab\", \"a\"]}"}, "headers": {"Content-Type": ["application/json"], "Authorization": ["token <TOKEN>"]}, "method": "PATCH", "uri": "https://api.github.com/repos/zvadaadam/filabel-testrepo4/issues/2"}, "response": {"body": {"encoding": "utf-8", "string": "{\"url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/issues/2\",\"repository_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4\",\"labels_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/issues/2/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/issues/2/comments\",\"events_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/issues/2/events\",\"html_url\":\"https://github.com/zvadaadam/filabel-testrepo4/pull/2\",\"id\":384862269,\"node_id\":\"MDExOlB1bGxSZXF1ZXN0MjMzOTY0MDA1\",\"number\":2,\"title\":\"Add some files\",\"user\":{\"login\":\"zvadaadam\",\"id\":26298744,\"node_id\":\"MDQ6VXNlcjI2Mjk4NzQ0\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/26298744?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/zvadaadam\",\"html_url\":\"https://github.com/zvadaadam\",\"followers_url\":\"https://api.github.com/users/zvadaadam/followers\",\"following_url\":\"https://api.github.com/users/zvadaadam/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/zvadaadam/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/zvadaadam/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/zvadaadam/subscriptions\",\"organizations_url\":\"https://api.github.com/users/zvadaadam/orgs\",\"repos_url\":\"https://api.github.com/users/zvadaadam/repos\",\"events_url\":\"https://api.github.com/users/zvadaadam/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/zvadaadam/received_events\",\"type\":\"User\",\"site_admin\":false},\"labels\":[{\"id\":1142477644,\"node_id\":\"MDU6TGFiZWwxMTQyNDc3NjQ0\",\"url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/labels/a\",\"name\":\"a\",\"color\":\"ededed\",\"default\":false},{\"id\":1142477643,\"node_id\":\"MDU6TGFiZWwxMTQyNDc3NjQz\",\"url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/labels/ab\",\"name\":\"ab\",\"color\":\"ededed\",\"default\":false},{\"id\":1142477642,\"node_id\":\"MDU6TGFiZWwxMTQyNDc3NjQy\",\"url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/labels/abc\",\"name\":\"abc\",\"color\":\"ededed\",\"default\":false},{\"id\":1142264251,\"node_id\":\"MDU6TGFiZWwxMTQyMjY0MjUx\",\"url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/labels/CRAZY\",\"name\":\"CRAZY\",\"color\":\"ededed\",\"default\":false},{\"id\":1142264589,\"node_id\":\"MDU6TGFiZWwxMTQyMjY0NTg5\",\"url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/labels/MI-PYT\",\"name\":\"MI-PYT\",\"color\":\"ededed\",\"default\":false}],\"state\":\"open\",\"locked\":false,\"assignee\":null,\"assignees\":[],\"milestone\":null,\"comments\":0,\"created_at\":\"2018-11-27T15:53:36Z\",\"updated_at\":\"2018-11-28T14:33:22Z\",\"closed_at\":null,\"author_association\":\"OWNER\",\"pull_request\":{\"url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/pulls/2\",\"html_url\":\"https://github.com/zvadaadam/filabel-testrepo4/pull/2\",\"diff_url\":\"https://github.com/zvadaadam/filabel-testrepo4/pull/2.diff\",\"patch_url\":\"https://github.com/zvadaadam/filabel-testrepo4/pull/2.patch\"},\"body\":null,\"closed_by\":null}"}, "headers": {"Content-Type": ["application/json; charset=utf-8"], "Status": ["200 OK"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4902"], "X-RateLimit-Reset": ["1543417273"], "ETag": ["\"3ec76acf0eeacb8c02d1152bde56d7ab\""], "X-OAuth-Scopes": ["delete_repo, repo"], "X-Accepted-OAuth-Scopes": [""], "X-GitHub-Media-Type": ["github.v3; format=json"]}, "status": {"code": 200, "message": "OK"}, "url": "https://api.github.com/repos/zvadaadam/filabel-testrepo4/issues/2"}, "recorded_at": "2018-11-28T14:33:22"}], "recorded_with": "betamax/0.8.1"}