{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": "{\"labels\": [\"CRAZY\", \"MI-PYT\"]}"}, "headers": {"Content-Type": ["application/json"], "Authorization": ["token <TOKEN>"]}, "method": "PATCH", "uri": "https://api.github.com/repos/zvadaadam/filabel-testrepo4/issues/2"}, "response": {"body": {"encoding": "utf-8", "string": "{\"url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/issues/2\",\"repository_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4\",\"labels_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/issues/2/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/issues/2/comments\",\"events_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/issues/2/events\",\"html_url\":\"https://github.com/zvadaadam/filabel-testrepo4/pull/2\",\"id\":384862269,\"node_id\":\"MDExOlB1bGxSZXF1ZXN0MjMzOTY0MDA1\",\"number\":2,\"title\":\"Add some files\",\"user\":{\"login\":\"zvadaadam\",\"id\":26298744,\"node_id\":\"MDQ6VXNlcjI2Mjk4NzQ0\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/26298744?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/zvadaadam\",\"html_url\":\"https://github.com/zvadaadam\",\"followers_url\":\"https://api.github.com/users/zvadaadam/followers\",\"following_url\":\"https://api.github.com/users/zvadaadam/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/zvadaadam/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/zvadaadam/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/zvadaadam/subscriptions\",\"organizations_url\":\"https://api.github.com/users/zvadaadam/orgs\",\"repos_url\":\"https://api.github.com/users/zvadaadam/repos\",\"events_url\":\"https://api.github.com/users/zvadaadam/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/zvadaadam/received_events\",\"type\":\"User\",\"site_admin\":false},\"labels\":[{\"id\":1142264251,\"node_id\":\"MDU6TGFiZWwxMTQyMjY0MjUx\",\"url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/labels/CRAZY\",\"name\":\"CRAZY\",\"color\":\"ededed\",\"default\":false},{\"id\":1142264589,\"node_id\":\"MDU6TGFiZWwxMTQyMjY0NTg5\",\"url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/labels/MI-PYT\",\"name\":\"MI-PYT\",\"color\":\"ededed\",\"default\":false}],\"state\":\"open\",\"locked\":false,\"assignee\":null,\"assignees\":[],\"milestone\":null,\"comments\":0,\"created_at\":\"2018-11-27T15:53:36Z\",\"updated_at\":\"2018-11-28T14:48:32Z\",\"closed_at\":null,\"author_association\":\"OWNER\",\"pull_request\":{\"url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/pulls/2\",\"html_url\":\"https://github.com/zvadaadam/filabel-testrepo4/pull/2\",\"diff_url\":\"https://github.com/zvadaadam/filabel-testrepo4/pull/2.diff\",\"patch_url\":\"https://github.com/zvadaadam/filabel-testrepo4/pull/2.patch\"},\"body\":null,\"closed_by\":null}"}, "headers": {"Content-Type": ["application/json; charset=utf-8"], "Status": ["200 OK"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4857"], "X-RateLimit-Reset": ["1543417273"], "ETag": ["\"f3037b8d6674ca2dc939d31cf04da1cf\""], "X-OAuth-Scopes": ["delete_repo, repo"], "X-Accepted-OAuth-Scopes": [""], "X-GitHub-Media-Type": ["github.v3; format=json"]}, "status": {"code": 200, "message": "OK"}, "url": "https://api.github.com/repos/zvadaadam/filabel-testrepo4/issues/2"}, "recorded_at": "2018-11-28T14:48:33"}], "recorded_with": "betamax/0.8.1"}