{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": "{\"labels\": [\"MI-PYT\", \"ab\", \"abc\", \"a\", \"CRAZY\"]}"}, "headers": {"Content-Type": ["application/json"], "Authorization": ["token <TOKEN>"]}, "method": "PATCH", "uri": "https://api.github.com/repos/zvadaadam/filabel-testrepo4/issues/2"}, "response": {"body": {"encoding": "utf-8", "string": "{\"url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/issues/2\",\"repository_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4\",\"labels_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/issues/2/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/issues/2/comments\",\"events_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/issues/2/events\",\"html_url\":\"https://github.com/zvadaadam/filabel-testrepo4/pull/2\",\"id\":384862269,\"node_id\":\"MDExOlB1bGxSZXF1ZXN0MjMzOTY0MDA1\",\"number\":2,\"title\":\"Add some files\",\"user\":{\"login\":\"zvadaadam\",\"id\":26298744,\"node_id\":\"MDQ6VXNlcjI2Mjk4NzQ0\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/26298744?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/zvadaadam\",\"html_url\":\"https://github.com/zvadaadam\",\"followers_url\":\"https://api.github.com/users/zvadaadam/followers\",\"following_url\":\"https://api.github.com/users/zvadaadam/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/zvadaadam/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/zvadaadam/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/zvadaadam/subscriptions\",\"organizations_url\":\"https://api.github.com/users/zvadaadam/orgs\",\"repos_url\":\"https://api.github.com/users/zvadaadam/repos\",\"events_url\":\"https://api.github.com/users/zvadaadam/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/zvadaadam/received_events\",\"type\":\"User\",\"site_admin\":false},\"labels\":[{\"id\":1142477644,\"node_id\":\"MDU6TGFiZWwxMTQyNDc3NjQ0\",\"url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/labels/a\",\"name\":\"a\",\"color\":\"ededed\",\"default\":false},{\"id\":1142477643,\"node_id\":\"MDU6TGFiZWwxMTQyNDc3NjQz\",\"url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/labels/ab\",\"name\":\"ab\",\"color\":\"ededed\",\"default\":false},{\"id\":1142477642,\"node_id\":\"MDU6TGFiZWwxMTQyNDc3NjQy\",\"url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/labels/abc\",\"name\":\"abc\",\"color\":\"ededed\",\"default\":false},{\"id\":1142264251,\"node_id\":\"MDU6TGFiZWwxMTQyMjY0MjUx\",\"url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/labels/CRAZY\",\"name\":\"CRAZY\",\"color\":\"ededed\",\"default\":false},{\"id\":1142264589,\"node_id\":\"MDU6TGFiZWwxMTQyMjY0NTg5\",\"url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/labels/MI-PYT\",\"name\":\"MI-PYT\",\"color\":\"ededed\",\"default\":false}],\"state\":\"open\",\"locked\":false,\"assignee\":null,\"assignees\":[],\"milestone\":null,\"comments\":0,\"created_at\":\"2018-11-27T15:53:36Z\",\"updated_at\":\"2018-11-29T14:19:46Z\",\"closed_at\":null,\"author_association\":\"OWNER\",\"pull_request\":{\"url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/pulls/2\",\"html_url\":\"https://github.com/zvadaadam/filabel-testrepo4/pull/2\",\"diff_url\":\"https://github.com/zvadaadam/filabel-testrepo4/pull/2.diff\",\"patch_url\":\"https://github.com/zvadaadam/filabel-testrepo4/pull/2.patch\"},\"body\":null,\"closed_by\":null}"}, "headers": {"Content-Type": ["application/json; charset=utf-8"], "Status": ["200 OK"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4901"], "X-RateLimit-Reset": ["1543503558"], "ETag": ["\"8e0b16f94fecbb87b8267c7fb8ec3953\""], "X-OAuth-Scopes": ["delete_repo, repo"], "X-Accepted-OAuth-Scopes": [""], "X-GitHub-Media-Type": ["github.v3; format=json"]}, "status": {"code": 200, "message": "OK"}, "url": "https://api.github.com/repos/zvadaadam/filabel-testrepo4/issues/2"}, "recorded_at": "2018-11-29T14:19:44"}, {"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/repos/zvadaadam/filabel-testrepo2/pulls?state=open"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo2/pulls/53\",\"id\":233963908,\"node_id\":\"MDExOlB1bGxSZXF1ZXN0MjMzOTYzOTA4\",\"html_url\":\"https://github.com/zvadaadam/filabel-testrepo2/pull/53\",\"diff_url\":\"https://github.com/zvadaadam/filabel-testrepo2/pull/53.diff\",\"patch_url\":\"https://github.com/zvadaadam/filabel-testrepo2/pull/53.patch\",\"issue_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo2/issues/53\",\"number\":53,\"state\":\"open\",\"locked\":false,\"title\":\"Add radioactive waste take 111\",\"user\":{\"login\":\"zvadaadam\",\"id\":26298744,\"node_id\":\"MDQ6VXNlcjI2Mjk4NzQ0\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/26298744?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/zvadaadam\",\"html_url\":\"https://github.com/zvadaadam\",\"followers_url\":\"https://api.github.com/users/zvadaadam/followers\",\"following_url\":\"https://api.github.com/users/zvadaadam/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/zvadaadam/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/zvadaadam/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/zvadaadam/subscriptions\",\"organizations_url\":\"https://api.github.com/users/zvadaadam/orgs\",\"repos_url\":\"https://api.github.com/users/zvadaadam/repos\",\"events_url\":\"https://api.github.com/users/zvadaadam/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/zvadaadam/received_events\",\"type\":\"User\",\"site_admin\":false},\"body\":null,\"created_at\":\"2018-11-27T15:53:22Z\",\"updated_at\":\"2018-11-29T14:25:44Z\",\"closed_at\":null,\"merged_at\":null,\"merge_commit_sha\":\"4b2bc860b698ec508754925d5fe1f7379378bc00\",\"assignee\":null,\"assignees\":[],\"requested_reviewers\":[],\"requested_teams\":[],\"labels\":[{\"id\":1141983918,\"node_id\":\"MDU6TGFiZWwxMTQxOTgzOTE4\",\"url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo2/labels/bug\",\"name\":\"bug\",\"color\":\"d73a4a\",\"default\":true},{\"id\":1141983920,\"node_id\":\"MDU6TGFiZWwxMTQxOTgzOTIw\",\"url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo2/labels/duplicate\",\"name\":\"duplicate\",\"color\":\"cfd3d7\",\"default\":true}],\"milestone\":null,\"commits_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo2/pulls/53/commits\",\"review_comments_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo2/pulls/53/comments\",\"review_comment_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo2/pulls/comments{/number}\",\"comments_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo2/issues/53/comments\",\"statuses_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo2/statuses/f00fca75b62b87d987a7a237d2322abe96b81b5b\",\"head\":{\"label\":\"zvadaadam:pr111\",\"ref\":\"pr111\",\"sha\":\"f00fca75b62b87d987a7a237d2322abe96b81b5b\",\"user\":{\"login\":\"zvadaadam\",\"id\":26298744,\"node_id\":\"MDQ6VXNlcjI2Mjk4NzQ0\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/26298744?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/zvadaadam\",\"html_url\":\"https://github.com/zvadaadam\",\"followers_url\":\"https://api.github.com/users/zvadaadam/followers\",\"following_url\":\"https://api.github.com/users/zvadaadam/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/zvadaadam/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/zvadaadam/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/zvadaadam/subscriptions\",\"organizations_url\":\"https://api.github.com/users/zvadaadam/orgs\",\"repos_url\":\"https://api.github.com/users/zvadaadam/repos\",\"events_url\":\"https://api.github.com/users/zvadaadam/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/zvadaadam/received_events\",\"type\":\"User\",\"site_admin\":false},\"repo\":{\"id\":159359909,\"node_id\":\"MDEwOlJlcG9zaXRvcnkxNTkzNTk5MDk=\",\"name\":\"filabel-testrepo2\",\"full_name\":\"zvadaadam/filabel-testrepo2\",\"private\":false,\"owner\":{\"login\":\"zvadaadam\",\"id\":26298744,\"node_id\":\"MDQ6VXNlcjI2Mjk4NzQ0\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/26298744?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/zvadaadam\",\"html_url\":\"https://github.com/zvadaadam\",\"followers_url\":\"https://api.github.com/users/zvadaadam/followers\",\"following_url\":\"https://api.github.com/users/zvadaadam/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/zvadaadam/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/zvadaadam/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/zvadaadam/subscriptions\",\"organizations_url\":\"https://api.github.com/users/zvadaadam/orgs\",\"repos_url\":\"https://api.github.com/users/zvadaadam/repos\",\"events_url\":\"https://api.github.com/users/zvadaadam/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/zvadaadam/received_events\",\"type\":\"User\",\"site_admin\":false},\"html_url\":\"https://github.com/zvadaadam/filabel-testrepo2\",\"description\":null,\"fork\":false,\"url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo2\",\"forks_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo2/forks\",\"keys_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo2/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo2/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo2/teams\",\"hooks_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo2/hooks\",\"issue_events_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo2/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo2/events\",\"assignees_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo2/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo2/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo2/tags\",\"blobs_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo2/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo2/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo2/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo2/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo2/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo2/languages\",\"stargazers_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo2/stargazers\",\"contributors_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo2/contributors\",\"subscribers_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo2/subscribers\",\"subscription_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo2/subscription\",\"commits_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo2/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo2/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo2/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo2/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo2/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo2/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo2/merges\",\"archive_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo2/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo2/downloads\",\"issues_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo2/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo2/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo2/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo2/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo2/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo2/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo2/deployments\",\"created_at\":\"2018-11-27T15:46:54Z\",\"updated_at\":\"2018-11-27T15:47:01Z\",\"pushed_at\":\"2018-11-27T15:53:22Z\",\"git_url\":\"git://github.com/zvadaadam/filabel-testrepo2.git\",\"ssh_url\":\"git@github.com:zvadaadam/filabel-testrepo2.git\",\"clone_url\":\"https://github.com/zvadaadam/filabel-testrepo2.git\",\"svn_url\":\"https://github.com/zvadaadam/filabel-testrepo2\",\"homepage\":\"\",\"size\":0,\"stargazers_count\":0,\"watchers_count\":0,\"language\":null,\"has_issues\":true,\"has_projects\":true,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":false,\"forks_count\":0,\"mirror_url\":null,\"archived\":false,\"open_issues_count\":53,\"license\":null,\"forks\":0,\"open_issues\":53,\"watchers\":0,\"default_branch\":\"master\"}},\"base\":{\"label\":\"zvadaadam:master\",\"ref\":\"master\",\"sha\":\"5e2078c0f57183a6c19350a9f678b584dea26e98\",\"user\":{\"login\":\"zvadaadam\",\"id\":26298744,\"node_id\":\"MDQ6VXNlcjI2Mjk4NzQ0\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/26298744?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/zvadaadam\",\"html_url\":\"https://github.com/zvadaadam\",\"followers_url\":\"https://api.github.com/users/zvadaadam/followers\",\"following_url\":\"https://api.github.com/user[...]
{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/repositories/159359909/pulls?state=open&page=2&state=open"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo2/pulls/23\",\"id\":233963196,\"node_id\":\"MDExOlB1bGxSZXF1ZXN0MjMzOTYzMTk2\",\"html_url\":\"https://github.com/zvadaadam/filabel-testrepo2/pull/23\",\"diff_url\"[...]
{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/repos/zvadaadam/filabel-testrepo2/pulls/52/files"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"sha\":\"e69de29bb2d1d6434b8b29ae775ad8c2e48c5391\",\"filename\":\"radioactive\",\"status\":\"added\",\"additions\":0,\"deletions\":0,\"changes\":0,\"blob_url\":\"https://github.com/zvadaadam/filabel-testrepo2/blob/f00fca75b62b87d987a7a237d2322abe96b81b5b/radioactive\",\"raw_url\":\"https://github.com/zvadaadam/filabel-testrepo2/raw/f00fca75b62b87d987a7a237d2322abe96b81b5b/radioactive\",\"contents_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo2/contents/radioactive?ref=f00fca75b62b87d987a7a237d2322abe96b81b5b\"},{\"sha\":\"e69de29bb2d1d6434b8b29ae775ad8c2e48c5391\",\"filename\":\"waste\",\"status\":\"added\",\"additions\":0,\"deletions\":0,\"changes\":0,\"blob_url\":\"https://github.com/zvadaadam/filabel-testrepo2/blob/f00fca75b62b87d987a7a237d2322abe96b81b5b/waste\",\"raw_url\":\"https://github.com/zvadaadam/filabel-testrepo2/raw/f00fca75b62b87d987a7a237d2322abe96b81b5b/waste\",\"contents_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo2/contents/waste?ref=f00fca75b62b87d987a7a237d2322abe96b81b5b\"}]"}, "headers": {"Content-Type": ["application/json; charset=utf-8"], "Status": ["200 OK"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4883"], "X-RateLimit-Reset": ["1543503558"], "ETag": ["\"df908dea5f432550a971324bab757554\""], "Last-Modified": ["Tue, 27 Nov 2018 15:53:19 GMT"], "X-OAuth-Scopes": ["delete_repo, repo"], "X-Accepted-OAuth-Scopes": [""], "X-GitHub-Media-Type": ["github.v3; format=json"]}, "status": {"code": 200, "message": "OK"}, "url": "https://api.github.com/repos/zvadaadam/filabel-testrepo2/pulls/52/files"}, "recorded_at": "2018-11-29T14:27:56"}, [...]
