{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/repos/zvadaadam/speech-recognition/pulls?state=open"}, "response": {"body": {"encoding": "utf-8", "string": "[]"}, "headers": {"Content-Type": ["application/json; charset=utf-8"], "Status": ["200 OK"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4953"], "X-RateLimit-Reset": ["1543515018"], "ETag": ["\"120e29e5c5a081493086c781b423e9a2\""], "X-OAuth-Scopes": ["delete_repo, repo"], "X-Accepted-OAuth-Scopes": [""], "X-GitHub-Media-Type": ["github.v3; format=json"]}, "status": {"code": 200, "message": "OK"}, "url": "https://api.github.com/repos/zvadaadam/speech-recognition/pulls?state=open"}, "recorded_at": "2018-11-29T17:30:55"}], "recorded_with": "betamax/0.8.1"}