{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/repos/zvadaadam/filabel-testrepo4/pulls/3/files"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"sha\":\"e69de29bb2d1d6434b8b29ae775ad8c2e48c5391\",\"filename\":\"bbbb\",\"status\":\"added\",\"additions\":0,\"deletions\":0,\"changes\":0,\"blob_url\":\"https://github.com/zvadaadam/filabel-testrepo4/blob/0629914b29e680606ace98f942d78e54e7a61231/bbbb\",\"raw_url\":\"https://github.com/zvadaadam/filabel-testrepo4/raw/0629914b29e680606ace98f942d78e54e7a61231/bbbb\",\"contents_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/contents/bbbb?ref=0629914b29e680606ace98f942d78e54e7a61231\"}]"}, "headers": {"Content-Type": ["application/json; charset=utf-8"], "Status": ["200 OK"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4897"], "X-RateLimit-Reset": ["1543417273"], "ETag": ["\"a28da00fcd864890f29c32278cf32970\""], "Last-Modified": ["Wed, 28 Nov 2018 14:33:23 GMT"], "X-OAuth-Scopes": ["delete_repo, repo"], "X-Accepted-OAuth-Scopes": [""], "X-GitHub-Media-Type": ["github.v3; format=json"]}, "status": {"code": 200, "message": "OK"}, "url": "https://api.github.com/repos/zvadaadam/filabel-testrepo4/pulls/3/files"}, "recorded_at": "2018-11-28T14:33:25"}, {"request": {"body": {"encoding": "utf-8", "string": "{\"labels\": [\"abc\", \"ab\"]}"}, "headers": {"Content-Type": ["application/json"], "Authorization": ["token <TOKEN>"]}, "method": "PATCH", "uri": "https://api.github.com/repos/zvadaadam/filabel-testrepo4/issues/3"}, "response": {"body": {"encoding": "utf-8", "string": "{\"url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/issues/3\",\"repository_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4\",\"labels_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/issues/3/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/issues/3/comments\",\"events_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/issues/3/events\",\"html_url\":\"https://github.com/zvadaadam/filabel-testrepo4/pull/3\",\"id\":384862329,\"node_id\":\"MDExOlB1bGxSZXF1ZXN0MjMzOTY0MDUz\",\"number\":3,\"title\":\"Add some other files\",\"user\":{\"login\":\"zvadaadam\",\"id\":26298744,\"node_id\":\"MDQ6VXNlcjI2Mjk4NzQ0\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/26298744?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/zvadaadam\",\"html_url\":\"https://github.com/zvadaadam\",\"followers_url\":\"https://api.github.com/users/zvadaadam/followers\",\"following_url\":\"https://api.github.com/users/zvadaadam/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/zvadaadam/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/zvadaadam/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/zvadaadam/subscriptions\",\"organizations_url\":\"https://api.github.com/users/zvadaadam/orgs\",\"repos_url\":\"https://api.github.com/users/zvadaadam/repos\",\"events_url\":\"https://api.github.com/users/zvadaadam/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/zvadaadam/received_events\",\"type\":\"User\",\"site_admin\":false},\"labels\":[{\"id\":1142477643,\"node_id\":\"MDU6TGFiZWwxMTQyNDc3NjQz\",\"url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/labels/ab\",\"name\":\"ab\",\"color\":\"ededed\",\"default\":false},{\"id\":1142477642,\"node_id\":\"MDU6TGFiZWwxMTQyNDc3NjQy\",\"url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/labels/abc\",\"name\":\"abc\",\"color\":\"ededed\",\"default\":false}],\"state\":\"open\",\"locked\":false,\"assignee\":null,\"assignees\":[],\"milestone\":null,\"comments\":0,\"created_at\":\"2018-11-27T15:53:43Z\",\"updated_at\":\"2018-11-28T14:33:25Z\",\"closed_at\":null,\"author_association\":\"OWNER\",\"pull_request\":{\"url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/pulls/3\",\"html_url\":\"https://github.com/zvadaadam/filabel-testrepo4/pull/3\",\"diff_url\":\"https://github.com/zvadaadam/filabel-testrepo4/pull/3.diff\",\"patch_url\":\"https://github.com/zvadaadam/filabel-testrepo4/pull/3.patch\"},\"body\":null,\"closed_by\":null}"}, "headers": {"Content-Type": ["application/json; charset=utf-8"], "Status": ["200 OK"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4896"], "X-RateLimit-Reset": ["1543417273"], "ETag": ["\"5f430a46bc060983c037ce0b9f71a955\""], "X-OAuth-Scopes": ["delete_repo, repo"], "X-Accepted-OAuth-Scopes": [""], "X-GitHub-Media-Type": ["github.v3; format=json"]}, "status": {"code": 200, "message": "OK"}, "url": "https://api.github.com/repos/zvadaadam/filabel-testrepo4/issues/3"}, "recorded_at": "2018-11-28T14:33:25"}, [...]
