{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/repos/zvadaadam/filabel-testrepo4/pulls?state=open"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/pulls/3\",\"id\":233964053,\"node_id\":\"MDExOlB1bGxSZXF1ZXN0MjMzOTY0MDUz\",\"html_url\":\"https://github.com/zvadaadam/filabel-testrepo4/pull/3\",\"diff_url\":\"https://github.com/zvadaadam/filabel-testrepo4/pull/3.diff\",\"patch_url\":\"https://github.com/zvadaadam/filabel-testrepo4/pull/3.patch\",\"issue_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/issues/3\",\"number\":3,\"state\":\"open\",\"locked\":false,\"title\":\"Add some other files\",\"user\":{\"login\":\"zvadaadam\",\"id\":26298744,\"node_id\":\"MDQ6VXNlcjI2Mjk4NzQ0\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/26298744?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/zvadaadam\",\"html_url\":\"https://github.com/zvadaadam\",\"followers_url\":\"https://api.github.com/users/zvadaadam/followers\",\"following_url\":\"https://api.github.com/users/zvadaadam/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/zvadaadam/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/zvadaadam/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/zvadaadam/subscriptions\",\"organizations_url\":\"https://api.github.com/users/zvadaadam/orgs\",\"repos_url\":\"https://api.github.com/users/zvadaadam/repos\",\"events_url\":\"https://api.github.com/users/zvadaadam/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/zvadaadam/received_events\",\"type\":\"User\",\"site_admin\":false},\"body\":null,\"created_at\":\"2018-11-27T15:53:43Z\",\"updated_at\":\"2018-11-28T14:48:28Z\",\"closed_at\":null,\"merged_at\":null,\"merge_commit_sha\":\"cbafadd6316c354e2dd41bb49dadf4feefbdf177\",\"assignee\":null,\"assignees\":[],\"requested_reviewers\":[],\"requested_teams\":[],\"labels\":[{\"id\":1142477643,\"node_id\":\"MDU6TGFiZWwxMTQyNDc3NjQz\",\"url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/labels/ab\",\"name\":\"ab\",\"color\":\"ededed\",\"default\":false},{\"id\":1142477642,\"node_id\":\"MDU6TGFiZWwxMTQyNDc3NjQy\",\"url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/labels/abc\",\"name\":\"abc\",\"color\":\"ededed\",\"default\":false}],\"milestone\":null,\"commits_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/pulls/3/commits\",\"review_comments_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/pulls/3/comments\",\"review_comment_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/pulls/comments{/number}\",\"comments_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/issues/3/comments\",\"statuses_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/statuses/0629914b29e680606ace98f942d78e54e7a61231\",\"head\":{\"label\":\"zvadaadam:pr2pr\",\"ref\":\"pr2pr\",\"sha\":\"0629914b29e680606ace98f942d78e54e7a61231\",\"user\":{\"login\":\"zvadaadam\",\"id\":26298744,\"node_id\":\"MDQ6VXNlcjI2Mjk4NzQ0\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/26298744?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/zvadaadam\",\"html_url\":\"https://github.com/zvadaadam\",\"followers_url\":\"https://api.github.com/users/zvadaadam/followers\",\"following_url\":\"https://api.github.com/users/zvadaadam/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/zvadaadam/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/zvadaadam/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/zvadaadam/subscriptions\",\"organizations_url\":\"https://api.github.com/users/zvadaadam/orgs\",\"repos_url\":\"https://api.github.com/users/zvadaadam/repos\",\"events_url\":\"https://api.github.com/users/zvadaadam/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/zvadaadam/received_events\",\"type\":\"User\",\"site_admin\":false},\"repo\":{\"id\":159359958,\"node_id\":\"MDEwOlJlcG9zaXRvcnkxNTkzNTk5NTg=\",\"name\":\"filabel-testrepo4\",\"full_name\":\"zvadaadam/filabel-testrepo4\",\"private\":false,\"owner\":{\"login\":\"zvadaadam\",\"id\":26298744,\"node_id\":\"MDQ6VXNlcjI2Mjk4NzQ0\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/26298744?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/zvadaadam\",\"html_url\":\"https://github.com/zvadaadam\",\"followers_url\":\"https://api.github.com/users/zvadaadam/followers\",\"following_url\":\"https://api.github.com/users/zvadaadam/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/zvadaadam/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/zvadaadam/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/zvadaadam/subscriptions\",\"organizations_url\":\"https://api.github.com/users/zvadaadam/orgs\",\"repos_url\":\"https://api.github.com/users/zvadaadam/repos\",\"events_url\":\"https://api.github.com/users/zvadaadam/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/zvadaadam/received_events\",\"type\":\"User\",\"site_admin\":false},\"html_url\":\"https://github.com/zvadaadam/filabel-testrepo4\",\"description\":null,\"fork\":false,\"url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4\",\"forks_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/forks\",\"keys_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/teams\",\"hooks_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/hooks\",\"issue_events_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/events\",\"assignees_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/tags\",\"blobs_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/languages\",\"stargazers_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/stargazers\",\"contributors_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/contributors\",\"subscribers_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/subscribers\",\"subscription_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/subscription\",\"commits_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/merges\",\"archive_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/downloads\",\"issues_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/deployments\",\"created_at\":\"2018-11-27T15:47:15Z\",\"updated_at\":\"2018-11-27T15:47:22Z\",\"pushed_at\":\"2018-11-27T15:53:44Z\",\"git_url\":\"git://github.com/zvadaadam/filabel-testrepo4.git\",\"ssh_url\":\"git@github.com:zvadaadam/filabel-testrepo4.git\",\"clone_url\":\"https://github.com/zvadaadam/filabel-testrepo4.git\",\"svn_url\":\"https://github.com/zvadaadam/filabel-testrepo4\",\"homepage\":\"\",\"size\":0,\"stargazers_count\":0,\"watchers_count\":0,\"language\":null,\"has_issues\":true,\"has_projects\":true,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":false,\"forks_count\":0,\"mirror_url\":null,\"archived\":false,\"open_issues_count\":2,\"license\":null,\"forks\":0,\"open_issues\":2,\"watchers\":0,\"default_branch\":\"master\"}},\"base\":{\"label\":\"zvadaadam:pr_open\",\"ref\":\"pr_open\",\"sha\":\"763d97ccc1b9ef39f04c9051fcf45d637c79b908\",\"user\":{\"login\":\"zvadaadam\",\"id\":26298744,\"node_id\":\"MDQ6VXNlcjI2Mjk4NzQ0\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/26298744?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/zvadaadam\",\"html_url\":\"https://github.com/zvadaadam\",\"followers_url\":\"https://api.github.com/users/zvadaadam/followers\",\"following_url\":\"https://api.github.com/us[...]
