{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/user"}, "response": {"body": {"encoding": "utf-8", "string": "{\"login\":\"zvadaadam\",\"id\":26298744,\"node_id\":\"MDQ6VXNlcjI2Mjk4NzQ0\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/26298744?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/zvadaadam\",\"html_url\":\"https://github.com/zvadaadam\",\"followers_url\":\"https://api.github.com/users/zvadaadam/followers\",\"following_url\":\"https://api.github.com/users/zvadaadam/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/zvadaadam/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/zvadaadam/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/zvadaadam/subscriptions\",\"organizations_url\":\"https://api.github.com/users/zvadaadam/orgs\",\"repos_url\":\"https://api.github.com/users/zvadaadam/repos\",\"events_url\":\"https://api.github.com/users/zvadaadam/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/zvadaadam/received_events\",\"type\":\"User\",\"site_admin\":false,\"name\":\"Adam Zvada\",\"company\":null,\"blog\":\"\",\"location\":\"Prague\",\"email\":null,\"hireable\":null,\"bio\":\"Computer Science \ud83d\udc68\u200d\ud83c\udf93 @ CTU FIT \",\"public_repos\":15,\"public_gists\":0,\"followers\":2,\"following\":3,\"created_at\":\"2017-03-09T09:37:05Z\",\"updated_at\":\"2018-11-26T18:17:06Z\"}"}, "headers": {"Content-Type": ["application/json; charset=utf-8"], "Status": ["200 OK"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4957"], "X-RateLimit-Reset": ["1543860540"], "ETag": ["\"a7de3897dfbbeff67a013a22dc5a0577\""], "Last-Modified": ["Mon, 26 Nov 2018 18:17:06 GMT"], "X-OAuth-Scopes": ["delete_repo, repo"], "X-Accepted-OAuth-Scopes": [""], "X-GitHub-Media-Type": ["github.v3; format=json"]}, "status": {"code": 200, "message": "OK"}, "url": "https://api.github.com/user"}, "recorded_at": "2018-12-03T17:12:38"}], "recorded_with": "betamax/0.8.1"}