{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/repos/zvadaadam/filabel-testrepo4/pulls/1/files"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"sha\":\"e69de29bb2d1d6434b8b29ae775ad8c2e48c5391\",\"filename\":\"aaaa\",\"status\":\"added\",\"additions\":0,\"deletions\":0,\"changes\":0,\"blob_url\":\"https://github.com/zvadaadam/filabel-testrepo4/blob/8f160e2d93f306771ee4a957c3ab31f5c142b1b9/aaaa\",\"raw_url\":\"https://github.com/zvadaadam/filabel-testrepo4/raw/8f160e2d93f306771ee4a957c3ab31f5c142b1b9/aaaa\",\"contents_url\":\"https://api.github.com/repos/zvadaadam/filabel-testrepo4/contents/aaaa?ref=8f160e2d93f306771ee4a957c3ab31f5c142b1b9\"}]"}, "headers": {"Content-Type": ["application/json; charset=utf-8"], "Status": ["200 OK"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4888"], "X-RateLimit-Reset": ["1543503558"], "ETag": ["\"4a7456463d9249ade259de2da8fb33a7\""], "Last-Modified": ["Tue, 27 Nov 2018 15:53:44 GMT"], "X-OAuth-Scopes": ["delete_repo, repo"], "X-Accepted-OAuth-Scopes": [""], "X-GitHub-Media-Type": ["github.v3; format=json"]}, "status": {"code": 200, "message": "OK"}, "url": "https://api.github.com/repos/zvadaadam/filabel-testrepo4/pulls/1/files"}, "recorded_at": "2018-11-29T14:19:54"}, [...]
